.about-bg {
	background-color: #474e5d; /* dark blue */
	color: #ffffff;
}

.news-bg {
	background-color: #ffffff; /* White */
  	color: #555555;
}

.bodyContainer {
	padding-top: 10%;
	padding-bottom: 10%;
}

.navbar {
  margin-bottom: 0 !important; 
  border-radius: 0 !important;
}