.about-bg {
	background-color: #474e5d; /* dark blue */
	color: #ffffff;
}

.news-bg {
	background-color: #ffffff; /* White */
  	color: #555555;
}

.container-fluid {
	padding-top: 10%;
	padding-bottom: 10%;
}